git+https://github.com/rapptz/discord-ext-menus@84caae8038d0d
aiohttp
asyncpg
asyncpraw
asyncprawcore
BotUtils
celery
click
colorlog
credmgr
dataframe_image
dateparser
discord
discord-py-slash-command
discord.py
kombu
lru_dict
lxml
matplotlib
pandas
parsedatetime
Pillow
praw
psutil
psycopg2-binary
pylibmc
python-dateutil
python-gitlab
pytz
SQLAlchemy
tabulate
tzlocal
urllib3
uvloop

