aiohttp
aiostream
asyncpg
asyncpraw
asyncprawcore
BotUtils
celery
click
colorlog
credmgr
dataframe_image
dateparser
discord
discord-py-interactions
discord.py
git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
kombu
lru_dict
lxml
matplotlib
pandas
parsedatetime
Pillow
praw
psutil
psycopg2-binary
pylibmc
python-dateutil
python-gitlab
pytz
SQLAlchemy
tabulate
tzlocal
urllib3
uvloop
